<div class="contenedor-tabla-principal">
  <table class="tabla-usuarios">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Cédula</th>
      <th>Correo</th>
      <th>Tipo</th>
      <th>Tarifa</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
      @for (usuario of usuariosFiltrados; track usuario.id) {
    <tr class="fila-usuario">
      <td>{{usuario.id}}</td>
      <td class="nombre">{{usuario.nombre}}</td>
      <td class="apellido">{{usuario.apellido}}</td>
      <td>{{usuario.cedula}}</td>
      <td>{{usuario.correo}}</td>
      <td><span class="badge badge-rojo">{{usuario.tipoUsuario}}</span></td>
      <td>{{usuario.tarifa}}</td>
      <td>
        <div class="acciones">
          <button class="btn-accion editar" title="Editar" (click)="abrirEditar(usuario)">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="btn-accion eliminar" title="Eliminar" (click)="deleteUsuario(usuario.id)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
      } @empty {
        <tr>
          <td colspan="4" class="text-center py-3 text-muted italic">No se encontraron operaciones.</td>
        </tr>
      }
    </tbody>
  </table>
</div>
<app-actualizador-usuarios
  [esVisible]="modalEditarVisible"
  [usuario]="usuarioSeleccionado"
  (alCerrar)="cerrarEditar()">
</app-actualizador-usuarios>
