<div class="stats-grid">
  <div class="stat-card total">
    <div class="stat-label">Total trabajadores <i class="fa-solid fa-users"></i></div>
    <div class="stat-value">{{totalTrabajadores}}</div>
  </div>

  <div class="stat-card normal">
    <div class="stat-label">Administrativos <i class="fa-solid fa-user-tie"></i></div>
    <div class="stat-value azul">{{totalAdministradores}}</div>
  </div>

  <div class="stat-card premium">
    <div class="stat-label">Conductores <i class="fa-solid fa-truck"></i></div>
    <div class="stat-value amarillo">{{totalConductores}}</div>
  </div>

  <div class="stat-card concurrente">
    <div class="stat-label">Operarios <i class="fa-solid fa-box-open"></i></div>
    <div class="stat-value morado">{{totalManipuladoresPaquetes}}</div>
  </div>
</div>
