<div class="stats-grid">
  <div class="stat-card">
    <div class="stat-label">Total trabajadores <i class="fa-solid fa-people-group"></i></div>
    <div class="stat-value">24</div>
  </div>
  <div class="stat-card">
    <div class="stat-label"> Administrativos <i class="fa-brands fa-black-tie"></i> </div>
    <div class="stat-value purple">8</div>
  </div>
  <div class="stat-card">
    <div class="stat-label">Conductores <i class="fa-solid fa-truck"></i></div>
    <div class="stat-value green">10</div>
  </div>
  <div class="stat-card">
    <div class="stat-label">Manipuladores de paquete <i class="fa-solid fa-boxes-stacked"></i></div>
    <div class="stat-value amber">6</div>
  </div>
</div>
