<form action="/">
<div class="modal-backdrop">
  <div class="modal-card">
    <div class="modal-header">
      <h2>Nuevo trabajador</h2>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="nombre">Nombre <i class="fa-sharp-duotone fa-regular fa-user-hat-tie-magnifying-glass"></i></label>
        <input type="text" id="nombre" class="form-input" placeholder="Nombre completo"/>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="cedula">Cédula</label>
          <input type="text" id="cedula" class="form-input" placeholder="1.234.567.890"/>
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input type="text" id="telefono" class="form-input" placeholder="310 123 4567"/>
        </div>
      </div>
      <div class="form-group">
        <label for="correo">Correo</label>
        <input type="email" id="correo" class="form-input" placeholder="correo@empresa.co"/>
      </div>
      <table>
        <tbody><div class="role-selection-group">
          <div class="role-option">
            <label>
              <span>Administrador <i class="fa-solid fa-user-tie"></i></span>
              <input type="radio" name="rol" value="admin">
            </label>
          </div>

          <div class="role-option">
            <label>
              <span>Conductor <i class="las la-truck"></i></span>
              <input type="radio" name="rol" value="conductor">
            </label>
          </div>

          <div class="role-option">
            <label>
              <span>Manipulador de paquetes</span>
              <input type="radio" name="rol" value="manipulador">
            </label>
          </div>
        </div>
        </tbody></table>
    </div>
    <div class="modal-footer">
      <button class="btn-outline">Cancelar</button>
      <button class="btn-primary">Crear trabajador</button>
    </div>
  </div>
</div>
</form>
