<div class="contenedor-tabla-principal">
  <table class="tabla-estilo">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Cédula</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Cargo</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
      @for (trabajador of trabajadoresFiltrados; track trabajador.id) {
    <tr class="fila-dato">
      <td>{{trabajador.id}}</td>
      <td class="nombre-resaltado">{{trabajador.nombre}}</td>
      <td>{{trabajador.cedula}}</td>
      <td>{{trabajador.email}}</td>
      <td>{{trabajador.telefono }}</td>
      <td><span class="badge"
                [class.badge-azul]="trabajador.cargo === 'Administrador'"
                [class.badge-amarillo]="trabajador.cargo === 'Conductor'"
                [class.badge-morado]="trabajador.cargo === 'Manipulador'">
        {{trabajador.cargo}}
      </span></td>
      <td>
        <div class="acciones">

          <button class="btn-accion editar" title="Editar" (click)="abrirEditar(trabajador)">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="btn-accion eliminar" title="Eliminar" (click)="deleteTrabajador(trabajador.id)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
      } @empty {
        <tr>
          <td colspan="4" class="text-center py-3 text-muted italic">No se encontraron operaciones.</td>
        </tr>
      }
    </tbody>
  </table>
</div>
<app-actualizador-trabajadores
  [esVisible]="modalEditarVisible"
  [trabajador]="trabajadorSeleccionado"
  (alCerrar)="cerrarEditar()">
</app-actualizador-trabajadores>
