<div class="contenedor-tabla-principal">
  <table class="tabla-estilo">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Cédula</th>
      <th>Teléfono</th>
      <th>Cargo</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
      @for (trabajador of trabajadores; track trabajador.id) {
    <tr class="fila-dato">
      <td>{{trabajador.id}}</td>
      <td class="nombre-resaltado">{{trabajador.nombre}}</td>
      <td>{{trabajador.email}}</td>
      <td>{{trabajador.cedula}}</td>
      <td>{{trabajador.telefono }}</td>
      <td><span class="badge badge-azul">{{trabajador.cargo}}</span></td>
      <td>
        <div class="acciones">
          <button class="btn-editar"><i class="fa-solid fa-pen"></i></button>
          <button class="btn-eliminar"><i class="fa-solid fa-trash"></i></button>
        </div>
      </td>
    </tr>
      } @empty {
        <tr>
          <td colspan="4" class="text-center py-3 text-muted italic">No se encontraron operaciones.</td>
        </tr>
      }
    </tbody>
  </table>
</div>
