<div class="contenedor-tabla-principal">
  <table class="tabla-estilo">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Cédula</th>
      <th>Teléfono</th>
      <th>Cargo</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr class="fila-dato">
      <td>01</td>
      <td class="nombre-resaltado">Carlos Mendoza</td>
      <td>1023456789</td>
      <td>310 456 7890</td>
      <td><span class="badge badge-azul">Admin</span></td>
      <td>
        <div class="acciones">
          <button class="btn-accion editar" title="Editar" (click)="notificarEditar()">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="btn-accion eliminar" title="Eliminar">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
