<div class="fila-tarjetas">
  <div class="tarjeta tarjeta-azul">
    <div class="icono-tarjeta"><i class="fa-solid fa-users color-blanco"></i></div>
    <div class="contenido-tarjeta">
      <span class="numero-tarjeta">142</span>
      <span class="titulo-tarjeta">Total Usuarios</span>
      <span class="sub-tarjeta">Usuarios registrados</span>
    </div>
  </div>

  <div class="tarjeta tarjeta-verde">
    <div class="icono-tarjeta"><i class="fa-solid fa-helmet-safety"></i></div>
    <div class="contenido-tarjeta">
      <span class="numero-tarjeta">0</span>
      <span class="titulo-tarjeta">Trabajadores</span>
      <span class="sub-tarjeta">personal activo</span>
    </div>
  </div>

  <div class="tarjeta tarjeta-amarilla">
    <div class="icono-tarjeta"><i class="fa-solid fa-envelopes-bulk"></i></div>
    <div class="contenido-tarjeta">
      <span class="numero-tarjeta">0</span>
      <span class="titulo-tarjeta">Envíos Totales</span>
      <span class="sub-tarjeta">paquetes registrados</span>
    </div>
  </div>

  <div class="tarjeta tarjeta-roja">
    <div class="icono-tarjeta"><i class="fa-brands fa-black-tie"></i></div>
    <div class="contenido-tarjeta">
      <span class="numero-tarjeta">0</span>
      <span class="titulo-tarjeta">Administradores</span>
      <span class="sub-tarjeta">con acceso total</span>
    </div>
  </div>

  <div class="tarjeta tarjeta-morada">
    <div class="icono-tarjeta"><i class="fa-regular fa-clock"></i></div>
    <div class="contenido-tarjeta">
      <span class="numero-tarjeta">0</span>
      <span class="titulo-tarjeta">Envíos a Tiempo</span>
      <span class="sub-tarjeta">entregados correctamente</span>
    </div>
  </div>

  <div class="tarjeta tarjeta-naranja">
    <div class="icono-tarjeta"><i class="fa-solid fa-clock-rotate-left"></i></div>
    <div class="contenido-tarjeta">
      <span class="numero-tarjeta">0</span>
      <span class="titulo-tarjeta">Envíos con Retraso</span>
      <span class="sub-tarjeta">fuera de plazo</span>
    </div>
  </div>
</div>
