<div class="fila-tarjetas">
  <div class="tarjeta tarjeta-azul">
    <div class="icono-tarjeta"><i class="fa-solid fa-users"></i></div>
    <div class="contenido-tarjeta">
      <span class="numero-tarjeta">{{totalUsuarios}}</span>
      <span class="titulo-tarjeta">Total Usuarios</span>
      <span class="sub-tarjeta">Usuarios registrados</span>
    </div>
  </div>

  <div class="tarjeta tarjeta-verde">
    <div class="icono-tarjeta"><i class="fa-solid fa-helmet-safety"></i></div>
    <div class="contenido-tarjeta">
      <span class="numero-tarjeta">{{totalTrabajadores}}</span>
      <span class="titulo-tarjeta">Trabajadores</span>
      <span class="sub-tarjeta">Personal activo</span>
    </div>
  </div>

  <div class="tarjeta tarjeta-amarilla">
    <div class="icono-tarjeta"><i class="fa-solid fa-envelopes-bulk"></i></div>
    <div class="contenido-tarjeta">
      <span class="numero-tarjeta">{{totalEnvios}}</span>
      <span class="titulo-tarjeta">Envíos Totales</span>
      <span class="sub-tarjeta">Paquetes registrados</span>
    </div>
  </div>

  <div class="tarjeta tarjeta-roja">
    <div class="icono-tarjeta"><i class="fa-brands fa-black-tie"></i></div>
    <div class="contenido-tarjeta">
      <span class="numero-tarjeta">{{totalAdmins}}</span>
      <span class="titulo-tarjeta">Administradores</span>
      <span class="sub-tarjeta">Con acceso total</span>
    </div>
  </div>

  <div class="tarjeta tarjeta-morada">
    <div class="icono-tarjeta"><i class="fa-regular fa-clock"></i></div>
    <div class="contenido-tarjeta">
      <span class="numero-tarjeta">{{totalEnviosATiempo}}</span>
      <span class="titulo-tarjeta">Envíos a Tiempo</span>
      <span class="sub-tarjeta">Entregados correctamente</span>
    </div>
  </div>

  <div class="tarjeta tarjeta-naranja">
    <div class="icono-tarjeta"><i class="fa-solid fa-clock-rotate-left"></i></div>
    <div class="contenido-tarjeta">
      <span class="numero-tarjeta">{{totalEnviosConRetraso}}</span>
      <span class="titulo-tarjeta">Envíos con Retraso</span>
      <span class="sub-tarjeta">Fuera de plazo</span>
    </div>
  </div>
</div>
