<div class="search-section">

  <div class="search-wrapper">
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
    <input type="text" class="search-input" placeholder="Buscar por nombre, cédula o correo...">
  </div>

  <div class="filters-wrapper">
    <select class="filter-select">
      <option value="" disabled selected>Filtrar por Tipo</option>
      <option>Todos</option>
      <option>Normal</option>
      <option>Premium</option>
      <option>Concurrente</option>
      <option>Admin</option>
    </select>

    <button class="add-button" (click)="notificarNuevo()">
      Nuevo Usuario
    </button>

    <button class="btn-refresh" title="Actualizar lista">
      <i class="fa-solid fa-rotate"></i>
    </button>
  </div>

</div>
