<div class="search-section">
  <div class="search-wrapper">
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
    <input type="text" class="search-input" placeholder="Buscar por nombre o cédula...">
  </div>

  <div class="filters-wrapper">
    <select class="filter-select">
      <option value="" disabled selected>Filtrar por Cargo</option>
      <option>Todos</option>
      <option>Administrativo</option>
      <option>Conductor</option>
      <option>Manipulador</option>
    </select>

    <button class="add-button" (click)="notificarNuevo()">
      Nuevo Trabajador
    </button>
  </div>
</div>
