<div class="search-section">

  <div class="search-wrapper">
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
    <input type="text" class="search-input" placeholder="Buscar por tipo o dirección..." [(ngModel)]="textoBuscado"
           (input)="buscar()">
  </div>

  <div class="filters-wrapper">

    <select class="filter-select" [(ngModel)]="tipoSeleccionado" (change)="cambiarFiltro()">
      <option value="" disabled selected>Filtrar por Tipo</option>
      <option value="todos">Todos</option>
      <option value="Alimenticio">Alimenticio</option>
      <option value="No Alimenticio">No Alimenticio</option>
      <option value="Carta">Carta</option>
    </select>

    <button class="add-button" (click)="notificarNuevo()">
      Nuevo Envío
    </button>

    <button class="btn-refresh" (click)="recargarTabla()" title="Actualizar lista">
      <i class="fa-solid fa-rotate"></i>
    </button>

  </div>

</div>
