<div class="stats-grid">

  <div class="stat-card total">
    <div class="stat-label">Total usuarios <i class="fa-solid fa-users"></i></div>
    <div class="stat-value">142</div>
  </div>

  <div class="stat-card normal">
    <div class="stat-label">Normales <i class="fa-solid fa-user"></i></div>
    <div class="stat-value azul">89</div>
  </div>

  <div class="stat-card premium">
    <div class="stat-label">Premium <i class="fa-solid fa-star"></i></div>
    <div class="stat-value amarillo">31</div>
  </div>

  <div class="stat-card concurrente">
    <div class="stat-label">Concurrentes <i class="fa-solid fa-bolt"></i></div>
    <div class="stat-value morado">19</div>
  </div>

  <div class="stat-card admin">
    <div class="stat-label">Admins <i class="fa-solid fa-shield-halved"></i></div>
    <div class="stat-value rojo">3</div>
  </div>

</div>
